.loader {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}
.box {
  width: 45%;
  height: 45%;
  background: rgba(59, 162, 86, 0.7);
  opacity: 0;
  animation: load 1s linear infinite;
}

.box:nth-of-type(1) {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}

.box:nth-of-type(2) {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  animation-delay: 0.3s;
}
.box:nth-of-type(3) {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  animation-delay: 0.6s;
}
.box:nth-of-type(4) {
  position: absolute;
  bottom: 2.5%;
  left: 2.5%;
  animation-delay: 0.9s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
